{% extends "base.html" %}
{% block content %}
  <fieldset>
    <legend>1. Select the input .dem file</legend>
    <input type="file" id="demInput" accept=".dem" />
  </fieldset>

  <fieldset>
    <legend>2. Generate the text</legend>
    <button py-click="run_demtext">Run demtext</button>
  </fieldset>

  <fieldset>
    <legend>3. Modify the text</legend>
    <textarea style="font-family: monospace;" id="demtext-box" rows="10" cols="80"></textarea>
  </fieldset>

  <fieldset>
    <legend>4. Download the text file</legend>
    <button py-click="download_demtext">Download</button>
  </fieldset>

  <script type="py" src="./main.py" config="./pyscript.json"></script>
  {% include "_footer.html" %}
{% endblock %}
