{% extends "base.html" %}
{% block content %}
  <fieldset>
    <legend>1. Select the input .dem file</legend>
    <input type="file" id="demInput" accept=".dem" />
  </fieldset>

  <fieldset>
    <legend>2. Choose the entity to fix</legend>
    <p>
      <label>
        Player entity to fix is the view entity
        <input checked py-click="showros_toggle_clicked" type="checkbox" id="changeViewEntity">
      </label>
    </p>
    <p id="entityNumBox" style="display: none">
      <label>
        Entity number to fix:
        <input type="number" id="entityNum" value="1">
      </label>
    </p>
  </fieldset>

  <fieldset>
    <legend>3. Process and download output .dem file</legend>
    <button py-click="run_showros">Run showros</button>
  </fieldset>

  <script type="py" src="./main.py" config="./pyscript.json"></script>
  {% include "_footer.html" %}
{% endblock %}
