{% extends "base.html" %}
{% block content %}
  <p>
    <input type="radio" name="setNames" value="yes" checked> Yes, set names
    <input type="radio" name="setNames" value="no"> No, do not set names
  </p>

  <p>1. Select the base .dem file:</p>
  <input type="file" id="baseDemInput" accept=".dem" />

  <p>2. Select one or more .dem files to superimpose:</p>
  <input type="file" id="otherDemsInput" accept=".dem" multiple/>

  <p>3. Process and download output .dem file:</p>
  <button py-click="run_superimpose">Run Superimpose</button>

  <script type="py" src="./main.py" config="./pyscript.json"></script>
  {% include "_footer.html" %}
{% endblock %}
