{% extends "base.html" %}
{% block content %}
  <fieldset>
    <legend>1. Set names</legend>
    <label>Set names and colors of superimposed players
      <input checked type="checkbox" id="setNames">
    </label>
  </fieldset>

  <fieldset>
    <legend>2. Select the base .dem file</legend>
    <input type="file" id="baseDemInput" accept=".dem" />
  </fieldset>

  <fieldset>
    <legend>3. Select one or more .dem files to superimpose</legend>
    <input type="file" id="otherDemsInput" accept=".dem" multiple/>
  </fieldset>

  <fieldset>
    <legend>4. Process and download output .dem file</legend>
    <button py-click="run_superimpose">Run superimpose</button>
  </fieldset>

  <script type="py" src="./main.py" config="./pyscript.json"></script>
  {% include "_footer.html" %}
{% endblock %}
