{% extends "base.html" %}
{% block content %}
  <p>1. Set names?</p>
  <p>
    <input type="radio" name="setNames" value="yes" checked> Yes
    <input type="radio" name="setNames" value="no"> No
  </p>

  <p>2. Select the base .dem file:</p>
  <input type="file" id="baseDemInput" accept=".dem" />

  <p>3. Select one or more .dem files to superimpose:</p>
  <input type="file" id="otherDemsInput" accept=".dem" multiple/>

  <p>4. Process and download output .dem file:</p>
  <button py-click="run_superimpose">Run superimpose</button>

  <script type="py" src="./main.py" config="./pyscript.json"></script>
  {% include "_footer.html" %}
{% endblock %}
